<%- include header.ejs %>
<div class="row">
    <div class="login-form col-md-4 col-md-offset-4">
        <h1>Log In</h1>
        <div class="form">
            <input type="text" class="form-control" placeholder="Username or Email">
            <input type="password" class="form-control" placeholder="Password">
            <a href="#" class="btn btn-primary btn-block">Log In</a>
        </div>
    </div>
</div>
<%- include footer.ejs  %>